.background {
    background: rgb(174,210,238);
    background: radial-gradient(circle, rgba(174,210,238,1) 0%, rgba(160,148,233,1));
}

.movies-div {
    height: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* To hide the scrollbar of the div */
.movies-div::-webkit-scrollbar {
    display: none;
}